
@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Shared/Homepage_LayoutPage.cshtml";
}

<link rel="stylesheet" href="~/Content/css/Security.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/style.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/colors.min.css">

@*<h2>Security JayTanza ab</h2>*@

<div class="container">
    <nav>
        <h1>Navbar</h1>
    </nav>
    <header>
        <h1>Header</h1>
    </header>
    <section class="section1">
        <h1>Section1</h1>
        <div class="content">
            <div class="card">
                <div class="box">
                    card1
                </div>
            </div>
            <div class="card">
                <div class="box">
                    card2
                </div>
            </div>
            <div class="card">
                <div class="box">
                    card3
                </div>
            </div>
            <div class="card">
                <div class="box">
                    card4
                </div>
            </div>
        </div>
    </section>
</div>

<div class="card-body p-0 pb-3 text-center" id="tblverlay">
    <img src="~/Content/gif/loader7.gif" id="imgLoader" />
</div>
